{% extends "layout.html" %}
{% block script %}
<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
<script src="../static/script.js"></script>
{% endblock %}
{% block main %}
<div class="container">
    <h2>Welcome</h2>
    <div id="welcome">
        <p>
            Rev<span style="color: #a6a6a6;">AI</span>se Bot is an AI-powered study assistant that transforms your notes into an interactive revision experience. Simply paste your notes or upload them as a .docx, .txt, or .md file, and Rev<span style="color: #a6a6a6;">AI</span>se Bot will generate questions to test your understanding. With access to the expansive knowledge base of ChatGPT, you can delve deeper into any topic. Looking for more detailed explanations or to modify the revision style? Just ask, and Rev<span style="color: #a6a6a6;">AI</span>se Bot will accomodate to your requests.
        </p>
        <div class="button-container">
            <a href="/revise"><button id="revaise" onclick="">Rev<span style="color: #a6a6a6;">AI</span>se</button></a>
        </div>
    </div>
</div>

{% endblock%}