{% extends "layout.html" %}
{% block script %}
<script src="../static/script.js"></script>
{% endblock %}
{% block main %}
<div class="container">
    <div class="container">
        <h2>Paste Notes</h2>
        <textarea id="note-input" rows="5" cols="30"></textarea>
        <button id="submit-notes">Submit</button>
    </div>
    <h2>Upload File</h2>
    <div class="input">
        <input type="file" id="file-input">
        <button type="submit" id="upload-file">Upload</button>
    </div>
</div>
<div class="container">
    <h2>Chat Log</h2>
    <div id="log">
    </div>
    <div>
        <input type="text" id="user-input" placeholder="Type your response here">
        <button type="submit" id="submit-response">Submit Response</button>
        <button id="next-chunk">Next Chunk</button>
        <button id="download-log">Download Log</button>
    </div>
</div>
{% endblock%}